<head th:fragment="headerFragment">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Customer Portal</title>
    <link
            crossorigin="anonymous"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            rel="stylesheet"></link>
    <link
            href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"
            rel="stylesheet"></link>
</head>

<div id="pagefoot" th:fragment="footerFragment">
    <p>Document last modified 2017/10/23.</p>
    <p>Copyright: Lorem Ipsum</p>
</div>